html, body {
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    background-color: #111827;
    font-family: "Inter", sans-serif;
}

.container{
    display: grid;
    max-width:320px;
    margin:20px auto;
}

img{
    max-width:75px;
    margin:0 auto;
}

h2,
h3{
    color:#ffffff;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}


textarea{
    background-color: #444059;
    color:rgb(154, 153, 153);
    border: none;
    border-radius:8px;
    padding:10px;
    block-size: 100px;
    margin:0 0 14px;
    resize: none;
}

button{
    background-color: #28A9F1;
    border:none;
    border-radius: 8px;
    padding:15px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    font-weight:bold;
    box-shadow: 3px 3px 4px #28A9F1;
    cursor:pointer;
}

button:is(:hover,:focus){
    background-color:#075985 ;
}

button:active{
    background-color:#075985 ;
    box-shadow: 3px 3px 4px black;
}

ul{
    padding:0;
    display: grid;
    gap:10px;
    list-style-type: none;
    margin:0;
    color: #ffffff;
}

ul li{
    background-color: white;
    border:none;
    padding:15px;
    color:black
}
